In [3]:
!pip install chefboost

Requirement already satisfied: chefboost in c:\users\sweth\anaconda3\lib\site-packages (0.0.17)
Requirement already satisfied: psutil>=5.4.3 in c:\users\sweth\anaconda3\lib\site-packages (from chefboost) (5.8.0)
Requirement already satisfied: numpy>=1.14.0 in c:\users\sweth\anaconda3\lib\site-packages (from chefboost) (1.20.1)
Requirement already satisfied: pandas>=0.22.0 in c:\users\sweth\anaconda3\lib\site-packages (from chefboost) (1.2.4)
Requirement already satisfied: tqdm>=4.30.0 in c:\users\sweth\anaconda3\lib\site-packages (from chefboost) (4.59.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\sweth\anaconda3\lib\site-packages (from pandas>=0.22.0->chefboost) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\sweth\anaconda3\lib\site-packages (from pandas>=0.22.0->chefboost) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\sweth\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.22.0->chefboost) (1.15.0)

In [4]:
from chefboost import Chefboost as chef

In [5]:
import pandas as pd

df = pd.read_csv("diabetess.csv")

In [6]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [7]:
config = {'algorithm': 'ID3'}
model = chef.fit(df, config = config, target_label = 'Outcome')

[INFO]:  4 CPU cores will be allocated in parallel running
WARNING: You set the algorithm to  ID3  but the Decision column of your data set has non-object type.
That's why, the algorithm is set to Regression to handle the data set.
Regression  tree is going to be built...
-------------------------
finished in  15.77905821800232  seconds
-------------------------
Evaluate  train set
-------------------------
MAE:  0.2113715277777778
MSE:  0.20985243055555558
RMSE:  0.4580965297353338
RAE:  0.7754793093332536
RRSE:  0.9610939041203588
Mean:  0.3489583333333333
MAE / Mean:  60.572139303482594 %
RMSE / Mean:  131.27542344654344 %

In [8]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [9]:
prediction = chef.predict(model, param = [6, 148, 72, 35,0,33.6,0.627,50])

In [10]:
prediction

1

In [11]:
prediction = chef.predict(model, param = [1, 85, 66, 29,0,26.6,0.351,31])

In [12]:
prediction

0